.acc {
  &-item {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);

    &.is-open {
      .acc-trigger::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &-trigger {
    position: relative;
    padding: 22px 88px 22px 22px;
    cursor: pointer;

    @media (min-width: 1280px) {
      padding: 32px 116px 32px 32px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translateY(-50%) rotate(0);
      width: 42px;
      height: 42px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.46501 19.9748L9.53829 19.9784C9.51402 19.9762 9.48959 19.9747 9.46501 19.9748Z' fill='%23883E25'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.46501 19.9748L9.53829 19.9784C9.51402 19.9762 9.48959 19.9747 9.46501 19.9748Z' fill='%23883E25'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.46501 19.9748L9.53829 19.9784C9.51402 19.9762 9.48959 19.9747 9.46501 19.9748Z' fill='%23883E25'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.46501 19.9748L9.53829 19.9784C9.51402 19.9762 9.48959 19.9747 9.46501 19.9748Z' fill='%23883E25'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.46501 19.9748L9.53829 19.9784C9.51402 19.9762 9.48959 19.9747 9.46501 19.9748Z' fill='%23883E25'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.46501 19.9748L9.53829 19.9784C9.51402 19.9762 9.48959 19.9747 9.46501 19.9748Z' fill='%23883E25'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.46501 19.9748L9.53829 19.9784C9.51402 19.9762 9.48959 19.9747 9.46501 19.9748Z' fill='%23883E25'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.46501 19.9748L9.53829 19.9784C9.51402 19.9762 9.48959 19.9747 9.46501 19.9748Z' fill='%23883E25'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.46501 19.9748L9.53829 19.9784C9.51402 19.9762 9.48959 19.9747 9.46501 19.9748Z' fill='%23883E25'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.46501 19.9748L9.53829 19.9784C9.51402 19.9762 9.48959 19.9747 9.46501 19.9748Z' fill='%23883E25'/%3E%3Cpath d='M21.7362 29.514L31.2553 20.0001C31.4467 19.813 31.7064 19.707 31.974 19.7084C32.2418 19.7099 32.4982 19.8169 32.6876 20.0062C32.8768 20.1954 32.9838 20.4513 32.9853 20.7189C32.9868 20.9866 32.8826 21.2445 32.6954 21.4359L21.4376 32.6876C21.2469 32.8782 20.9885 32.9854 20.7188 32.9854C20.4492 32.9854 20.1908 32.8782 20.0001 32.6876L8.74228 21.4359C8.55506 21.2445 8.45085 20.9866 8.45235 20.7189C8.45392 20.4513 8.5609 20.1954 8.75009 20.0062C8.93944 19.8169 9.19591 19.7099 9.46363 19.7084C9.69774 19.7072 9.92399 19.7864 10.1051 19.9315L10.1806 19.9975L19.7015 29.514L19.7015 9.46886C19.7015 9.19918 19.8093 8.94076 20.0001 8.75011C20.1908 8.55952 20.4492 8.45237 20.7188 8.45237C20.9885 8.45237 21.2469 8.55952 21.4376 8.75011C21.6283 8.94076 21.7362 9.19918 21.7362 9.46886L21.7362 29.514ZM9.46501 19.9748L9.53829 19.9784C9.51402 19.9762 9.48959 19.9747 9.46501 19.9748Z' fill='%23883E25'/%3E%3C/svg%3E%0A");
      transition-duration: .25s;
    }
  }

  &-panel {
    height: 0;
    overflow: hidden;
    transition-duration: .25s;

    &-inner {
      padding: 0 22px 22px;

      @media (min-width: 1280px) {
        padding: 0 32px 32px;
      }
    }
  }
}
